*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 15px;
}

body{
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

img{
    max-width: 100%;
    width: 100%;
}

p{
    line-height: 1.1;
    color: hsl(236, 13%, 42%);
    font-size: 1.1rem;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-weight: 500;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 1.25rem;

}

hr{
    height: 1px;
    border: none;
    background-color: lightgray;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
}

.header nav{
    display: none;
}

.header nav a:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.main-grid, .outro-container{
    padding-top: 0 !important;
    padding: 1.33rem;
}

.main-grid h1{
    font-size: 2rem;
    color: hsl(240, 100%, 5%);
    margin: 1rem 0;
    font-weight: 800;
}

.main-paragraph{
    margin-bottom: 1rem;
}

.btn{
    background-color: hsl(5, 85%, 63%);
    width: 200px;
    border: none;
    color: hsl(36, 100%, 99%);
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 800;
}

.btn:hover{
    background-color: hsl(240, 100%, 5%);
    transition: all ease 2s;
    cursor: pointer;
}

.aside-container{
    background-color: hsl(240, 100%, 5%);
}

.aside-container>div{
    padding: 1.25rem;
}

.aside-container h2{
    color: hsl(35, 77%, 62%);
    letter-spacing: 0.2rem;
    font-weight: 800;
    font-size: 1.3rem;
}

.aside-container h3{
    color: hsl(36, 100%, 99%);
    margin-top: 1rem;
    padding: 1rem 0;
    font-size: 1.3rem;

}

.aside-container h3:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.aside-container article p{
    margin-bottom: 1rem;
    color: hsl(0, 0%, 83%);
    font-weight: 400;
}

.outro-container{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.outro-container h4{
    color: hsl(236, 13%, 42%);
    font-size: 1.6rem;
    font-weight: 800;
    opacity: 70%;
}

.outro-container h5{
    color: hsl(240, 100%, 5%);
    padding: .8rem 0;
    font-size: 1.2rem;
    font-weight: 800;
}

.outro-container img{
    width: 150px;
}

.outro-container-large{
    margin-top: 2rem;
}

.attribution { font-size: 11px; text-align: center;
    margin: 1rem 0;
    }
    .attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 768px) {
    .outro-container-large{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .outro-container img{
        width: 160px;
    }

    .outro-container p{
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 1024px) {
    body{
        max-width: 1200px;
        margin: auto;
    }
    .header nav{
        display: block;
    }

    p{
        line-height: 1.5;
        color: hsl(236, 13%, 42%);
        font-size: 1.3rem;
        font-weight: 400;
    }
 

    .main-grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }

    .main-grid .blog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .intro h1{
        font-size: 3rem;
        margin-top: 2rem;
        font-weight: 800;
        /* width: 250px; */
    }

    .read-more{
        margin-top: 1.25rem;
    }

    .read-more .main-paragraph{
        margin-bottom: 1.25rem;
    }

    .outro-container-large{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem;
    }

    .header #menuButton{
        display: none;
    }


}